Package: storiq-bonding
Version: 1.3.7
Section: Intellique
Priority: optional
Architecture: all
Depends: perl-base, storiq-objet-bonding(>=0.8)
Recommends: bash-completion, logrotate
Maintainer: Developpers Team <dev@intellique.com>
Description: storiq-bonding
 Storiq Bonding command line interface.
